
/*for header*/
.header-dark {
  background: url(mountain_bg.jpg) #444;
  background-size: cover;
  padding-bottom: 0;
}

@media (min-width:768px) {
  .header-dark {
    padding-bottom: 0;
  }
}

.header-dark .navbar {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@media (min-width:768px) {
  .header-dark .navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}

.header-dark .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.header-dark .navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.header-dark .navbar .navbar-collapse span {
  margin-top: 5px;
}

.header-dark .navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: .5rem;
  text-decoration: none;
}

.header-dark .navbar .navbar-collapse span .login:hover {
  color: #fff;
}

.header-dark .navbar .navbar-toggler {
  border-color: #747474;
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
  background: none;
}

.header-dark .navbar .navbar-toggler {
  color: #eee;
}

.header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
  border-color: #636363;
}

@media (min-width: 992px) {
  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
  color: #d9d9d9;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
  color: #fcfeff !important;
  background-color: transparent;
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 2px;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
  background: #ebeff1;
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
  background: #208f8f;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem .8rem;
  transition: background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
  background: #269d9d;
}

.header-dark .navbar .form-inline label {
  color: #ccc;
}

.header-dark .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header-dark .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.header-dark .hero {
  margin-top: 60px;
}

@media (min-width:768px) {
  .header-dark .hero {
    margin-top: 20px;
  }
}

.header-dark .hero h1 {
  color: #fff;
  font-family: 'Bitter', serif;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media (min-width:768px) {
  .header-dark .hero h1 {
    margin-bottom: 50px;
    line-height: 1.5;
  }
}

.header-dark .hero .embed-responsive iframe {
  background-color: #666;
}

.bg-shadow {
  min-height: 800px;
}

/*reponsive form*/
#formdiv {
  padding-bottom: 5%;
  margin-left: 14%;
  margin-right: 14%;
  border-radius: 10.2px;
  box-shadow: 0 0 16px rgba(81, 203, 238, 1);
}


.contact-clean {
  background: #f1f7fc;
  padding: 80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .form-control-feedback {
  height: 42px;
  line-height: 42px;
}

.contact-clean form .help-block {
  margin-top: 8px;
  font-size: 13px;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

#formdiv {
  padding-bottom: 5%;
  margin-left: 14%;
  margin-right: 14%;
  border-radius: 10.2px;
  box-shadow: 0 0 16px rgba(81, 203, 238, 1);
}

#clear: hover {
}

/*vertical-menu*/
ul.vertical-nav-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0;
  font-family: 'Montserrat';
}

div.vertical-nav {
  position: absolute;
  display: block;
  background-color: #222222;
  margin-right: 90%;
  height: 100%;
  width: 10%;
  z-index: 1;
}

span.active-link {
  width: 0;
  height: 0;
  float: right;
  border-top: 10px solid transparent;
  border-right: 20px solid white;
  border-bottom: 10px solid transparent;
}

li.vnav-li {
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

a.vnav-link {
  color: grey;
  font-size: 18px;
}

a.active-link.vnav-link {
  color: white;
}

h4 {
  color: white;
  padding-left: 10px;
}

li.vnav-li:HOVER {
  background-color: black;
}

a.vnav-link:HOVER {
  color: white;
}

/*table with search*/
.bill-header {
  font-size: 12px;
  text-align: center;
}

.form-control:focus {
  border-color: #25476a;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#trs-hd {
  text-align: center;
}

.bill-header.cs {
  background-color: rgba(37,71,106,0.56);
  color: #fff;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.fa.fa-warning {
  font-size: 18px;
  color: #ff0000;
}

.warning.no-result {
  text-align: center;
}

.search.form-control {
  border-radius: 0px !important;
}

.search-table-col {
  margin-top: 100px;
}

.col-lg-1 {
  width: 100px;
}

